/* CUSTOM PROPERTIES */

:root {
  --text-black: #404040;
  --text-white: #eeeeee;
  --text-blue: #ccccff;
  --text-watermark: rgba(50,50,50,8%);
  --main-dark: #101010;
  --primary-blue: rgb(100,150,250);
  --dark-blue: rgb(80,130,230);
  --accent-orange: orange;
  --dark-orange: rgb(200,110,0);
  --planet-dark: rgb(50,50,50),rgb(10,10,10);
  --planet-e: rgb(30,30,30),rgb(5,5,5);
  --moon-e: rgb(50,50,50),rgb(10,10,10);
}