/* IMAGES */

img {
  user-select: none;
}

#astronaut {
  width: 140px;
  margin: -120px 0 0 100px;
}

#rocket {
  width: 170px;
  grid-column: 1/2;
  grid-row: 2/4;
  transform: rotateZ(30deg);
  justify-self: center;
  align-self: center;
}

#satellite-3d {
  grid-column: 2/-1;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
  width: 230px;
}

#thrust {
  width: 20px;
  height: 40px;
  grid-column: 1/2;
  grid-row: 2/4;
  justify-self: center;
  transform: rotate(54deg) translate(2px,35px);
  background-image: radial-gradient(farthest-side at 10px 0px,rgb(100,150,250),transparent);
  border-radius: 0 0 50% 50%;
}

.rocket-thrust {
  animation: rocketThrust .25s ease-in forwards;
}

@keyframes rocketThrust {
  from {transform: rotate(54deg) translate(2px,35px);}
  to {transform: rotate(54deg) translate(2px,70px);}
}
