/* IMAGES */

img {
  user-select: none;
  z-index: 1;
}

img > * {
  pointer-events: none;
}

#astronaut {
  width: 150px;
  aspect-ratio: 1;
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
  margin-left: 75px;
  animation: space-walk 1s ease-in-out infinite alternate;
}

#planete-toy {
  width: 320px;
  aspect-ratio: 1;
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
}

#planete-frozen {
  width: 50%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
  transform: translateY(105%);
}

#rocket {
  width: 180px;
  aspect-ratio: 1;
  grid-column: 1/-1;
  grid-row: 1/-1;
  transform: rotateZ(30deg);
  justify-self: center;
  align-self: center;
}

#spaceport {
  width: clamp(256px,100dvw,512px);
  aspect-ratio: 16/9;
  grid-column: 1/-1;
  grid-row: 2/-1;
  justify-self: center;
  align-self: flex-end;
}

.show-dialogue-screen {
  display: block;
}



#ship-door-L {
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/-1;
  justify-self: flex-end;
}

#ship-door-R {
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/-1;
  justify-self: flex-start;
}

#ship-door-corner-L {
  width: 100px;
  height: 100px;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: start;
  z-index: 2;
}

#ship-door-corner-R {
  width: 100px;
  height: 100px;
  grid-column: -1/1;
  grid-row: 1/2;
  justify-self: flex-end;
  align-self: start;
  z-index: 2;
}

#satellite-3d {
  grid-column: 1/-1;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
  width: 230px;
  margin: -10vh 0 0;
}

#canvas-satellite {
  width: 230px;
  height: 230px;
  margin: -10vh 0 0;
  grid-column: 1/-1;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
  z-index: 1;
}

#ship-wheel-img {
  width: 50px;
  height: 50px;
}

#flux-capacitor-off-img , #flux-capacitor-on-img {
  width: 50px;
  height: 50px;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

#big-red-button-img {
  width: 50px;
  height: 50px;
}

#toolbox-img {
  width: 50px;
  height: 50px;
}

/* ANIMATION */

@keyframes space-walk {
  from {transform: translate(0,0);}
  to {transform: translate(0,5px);}
}
