/* LINE ART */

#ufo {
  grid-column: -2;
  grid-row: 4/5;
  animation: ease-in-out 1s infinite alternate glide;
  animation-play-state: paused;
}

#ufo:hover {
  animation-play-state: running;
}

@keyframes glide {
  from {transform: rotate(-10deg);}
  to {transform: rotate(10deg);}
}

/* X WING */

#x-wing {
  grid-column: 3/5;
  grid-row: 3/4;
  z-index: 1;
}

#cockpit {
  fill: var(--primary-blue);
}

.wing {
  transform: translateX(5px);
  transition: 1s transform;
}

#x-wing:hover #x-cockpit {
  fill: orange;
}

.foils {
  transform: translateX(0px);
}

/* TIE FIGHTER */

#tie-fighter {
  grid-column: 4/5;
  grid-row: 3/4;
  z-index: 1;
}

#tie-fighter:hover #t-cockpit {
  fill: var(--primary-blue);
}

.try-spinning {
  transition: 2s transform;
  transform: rotate(720deg);
}

#satellite {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}

/* STARSHIP */

#starship {
  grid-column: 1/2;
  grid-row: 4/5;
  fill: var(--text-blue);
  stroke: var(--text-blue);
  z-index: 1;
}

#starship:hover #dome {
  fill: orange;
}

.warp {
  transform: translate(50px,0);
  animation: warp 2.5s ease-in forwards;
}

@keyframes warp {
  from {transform: translateX(0);}
  to {transform: translateX(100vw);}
}

#tardis {
  grid-column: -2/-1;
  grid-row: -2/-1;
  align-self: flex-end;
  transition: opacity 1s;
  z-index: 1;
}

#tardis:hover {
  opacity: 0;
}

.materialisation {
  animation: materialisation 4s ease-in-out forwards;
}

@keyframes materialisation {
  0% {opacity: 1;}
  30% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}

#dalek {
  grid-column: 1/2;
  grid-row: -2/-1;
  align-self: flex-end;
  z-index: 1;
}

.exterminate {
  animation: exterminate 4s ease-in-out forwards;
}

@keyframes exterminate {
  0% {transform: translateX(0);}
  40% {transform: translateX(75vw);}
  50% {transform: translateX(70vw);}
  60% {transform: translateX(75vw);}
  100% {transform: translateX(0);}
}