/* LINE ART */

#ufo {
  grid-column: -2;
  grid-row: 4/5;
  animation: ease-in-out 1s infinite alternate glide;
  animation-play-state: paused;
}

#ufo:hover {
  animation-play-state: running;
}

@keyframes glide {
  from {transform: rotate(-10deg);}
  to {transform: rotate(10deg);}
}

#satellite {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}

#starship {
  grid-column: 1/2;
  grid-row: 4/5;
  fill: var(--text-blue);
  stroke: var(--text-blue);
  z-index: 1;
}

#starship:hover #dome {
  fill: orange;
}

.warp {
  transform: translate(50px,0);
  animation: warp 2.5s ease-in forwards;
}

@keyframes warp {
  from {transform: translateX(0);}
  to {transform: translateX(100vw);}
}