@media screen and (max-width: 410px) {
  .title {font-size: 26px;}
  .title span:nth-of-type(2) {font-size: 18px;}
  #planet {grid-column: 1/-1; grid-row: 2/-1;}
  #satellite-orbit {grid-column: 1/-1;}
  #about p:nth-of-type(1) {grid-column: 1/-1; grid-row: 2/-1; margin: 0 auto; padding: 0 0 0 14px;}
  #about p:nth-of-type(2) {grid-column: 1/-1; grid-row: 2/-1;}
}


@media screen and (max-width: 720px) {
  #bridge-stations {grid-template-columns: 100vw; grid-template-rows: 150px 10px 150px 10px 150px;}
  #bridge-stations > section {width: 90%; justify-self: center;}
  #bridge-stations > section:nth-of-type(1) {grid-column: 1/-1; grid-row: 1/2;}
  #bridge-stations > section:nth-of-type(2) {grid-column: 1/-1; grid-row: 3/4;}
  #bridge-stations > section:nth-of-type(3) {grid-column: 1/-1; grid-row: 5/6;}
}

/* @media screen and (max-width: 800px) { */
  /* .telescope-pan {animation-duration: 5s;} */
/* } */

@media screen and (orientation: landscape) {
  #planet-e {width: 95vh; height: 95vh;}
  #planet-e1 {width: 45vh; height: 45vh; transform: translateY(-45vh);}
  #planet-e2 {width: 45vh; height: 45vh; transform: translateY(100vh);}
  #planet-airglow {width: 95vh; height: 95vh;}
  @keyframes planet-e1-align {
    from {transform: translateY(-45vh);}
    to {transform: translateY(27.5vh);}
  }
  @keyframes planet-e2-align {
    from {transform: translateY(100vh);}
    to {transform: translateY(27.5vh);}
  }
}
