/* INFO CARDS */

#resume-info-cards {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr repeat(3,33%) 1fr;
  grid-template-rows: 100%;
  opacity: 1;
}

.resume-info-card {
  width: 100px;
  height: 140px;
  grid-row: 1/-1;
  justify-self: center;
  align-self: flex-end;
  text-align: center;
}

.resume-info-card:nth-of-type(1) {grid-column: 2/3;}
.resume-info-card:nth-of-type(2) {grid-column: 3/4;}
.resume-info-card:nth-of-type(3) {grid-column: 4/5;}

.card-title {
  font-size: 32px;
  font-weight: 300;
  font-family: 'Lato',sans-serif;
}

.card-legend {
  font-size: 12px;
  font-weight: 300;
  font-family: 'Lato',sans-serif;
}

.card-details {
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 100;
}

/* RESUME DISPLAY */

#resume-display {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: 100%;
}

/* RESUME SECTIONS */

#resume-display section {
  width: 100%;
  height: 100%;
  padding: 60px 0 0;
  grid-column: 1/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
  opacity: 0;
}

#resume-display section div {
  grid-column: -2/-1;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: center;
}

/* PLANETE BUTTONS */

#planete-bubble {
  width: 320px;
  aspect-ratio: 1;
  grid-column: 1/-1;
  grid-row: -3/-1;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(2,50%);
}

#books-button {
  width: 38px;
  height: 45px;
  margin-top: -4px;
  margin-left: 28px;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: flex-start;
  align-self: flex-start;
}

#film-button {
  width: 54px;
  height: 42px;
  margin-top: -2px;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-end;
  align-self: flex-start;
}

#first-aid-kit-button {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  margin-bottom: 75px;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: flex-end;
  align-self: flex-end;
  background-color: teal;
}

#quill-button {
  width: 48px;
  height: 56px;
  margin-left: 32px;
  margin-bottom: 8px;
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: flex-start;
  align-self: flex-end;
}

#sailing-button {
  width: 40px;
  height: 54px;
  margin-bottom: 35px;
  margin-right: 20px;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: flex-end;
}

#house-button {
  width: 72px;
  height: 62px;
  margin-top: 35px;
  margin-left: 6px;
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: flex-start;
}