#message {
  grid-column: 1/-1;
  grid-row: 2/3;
  align-self: flex-start;
  justify-self: center;
  fill: var(--text-blue);
  z-index: 1;
}

#flex-scroll-t-f {
  /* width: calc(33% + 70px); */
  width: 250px;
  height: 20px;
  grid-column: 1/-1;
  grid-row: -2/-1;
  justify-self: center;
  align-self: flex-end;
  margin: 0 0 40px;
  z-index: 1;
  position: relative;
  transition: transform 1s;
}

.scroll-t-f {
  width: 100px;
  position: absolute;
  transition: left 1s , opacity 1s;
}

#scroll-to-footer { left: 0%; }
#scroll-to-top { left: calc(100% - 100px); margin-left: 12px;}
