.resume-info-card {
  width: 100px;
  height: 140px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.resume-info-card:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.resume-info-card:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}

.resume-info-card:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.card-title {
  font-size: 30px;
  font-weight: 100;
  font-family: 'Lato',sans-serif;
}

.card-legend {
  font-size: 12px;
  font-weight: 100;
  font-family: 'Lato',sans-serif;
}

.card-details {
  margin: 20px 0 0;
  font-size: 14px;
  font-weight: 100;
}

#resume a {
  z-index: 1;
}

#download-resume {
  width: 120px;
  grid-column: 1/-1;
  grid-row: 2/-2;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: var(--primary-blue);
}

#skill-trajectory-title {
  margin-right: 10px;
  grid-column: 1/2;
  grid-row: 3/-1;
  justify-self: flex-end;
  align-self: center;
  font-size: 12px;
}

#skill-trajectory {
  width: 100%;
  height: 100%;
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: grid;
  justify-self: flex-start;
  align-self: flex-end;
}

#skill-trajectory-svg {
  max-width: 100%;
  max-height: 100%;
  justify-self: flex-start;
  align-self: flex-end;
}

#skill-trajectory-svg text {
  font-size: 0.2em;
  fill: #CCCCFF;
}