/* STAR FIELD */

#far-field {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
  background-image: url("../img/starfield-background.svg");
  background-size: cover;
  background-attachment: fixed;
}

#mid-field , #near-field {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-attachment: fixed;
  /* transition: transform 1s; */
  /* transform: translateY(10vh); */
  /* animation: star-move 2s forwards; */
  z-index: -1;
}

#mid-field {background-image: url("../img/starfield-mid.svg");}
#near-field {background-image: url("../img/starfield-near.svg");}

@keyframes star-move {
  from {transform: translateY(0);}
  to {transform: translateY(-2vh);}
}
