/* RESETS */

html,body,main,header,footer,section,aside,div,nav,a,h1,h2,p,span,button,canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-black);
}

html,body,main {
  height: 100%;
}

/* CUSTOM PROPERTIES */

:root {
  --text-black: #404040;
  --text-white: #eeeeee;
  --text-blue: #ccccff;
  --main-dark: #101010;
  --planet-dark: #1d1d22;
}

/* MAIN PROPERTIES */

html {
  background-color: var(--main-dark);
  scroll-behavior: smooth;
}

h1,h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: var(--text-blue);
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: var(--text-white);
}

header {
  max-width: 800px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* NAVIGATION */

#main-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#main-nav a {
  font-family: 'Lato', sans-serif;
  color: var(--text-blue);
}

.home {
  width: 40px;
  height: 40px;
  padding: 3px 5px;
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  border: 1px solid var(--text-blue);
}

/* SPECIFIC PROPERTIES */

main {
  width: 100%;
  margin: -60px 0 0;
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: 25% 50% 3% 100% 100% 100%;
  justify-items: center;
  align-items: center;
}

.title {
  width: 500px;
  font-family: 'Lato',sans-serif;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 5px;
  color: rgb(220,220,220);
  text-align: center;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.title span {
  background: linear-gradient(white,#38495a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title span:nth-of-type(2) {
  font-size: 30px;
}

#about {
  height: 100%;
  max-width: 380px;
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  align-items: center;
}

#planet-intro {
  width: 20vw;
  height: 20vw;
  margin: 0 0 0 5vw;
  grid-column: 2/-2;
  grid-row: 4/5;
  border-radius: 50%;
  background: radial-gradient(rgb(50,50,50),rgb(10,10,10));
}

#projects,#contact {
  width: 100%;
  height: 100%;
  max-width: 800px;
  grid-column: 1/-1;
}

#projects h2,#contact h2 {
  font-weight: 300;
  text-align: center;
}

#projects {grid-row: 5/6;}
#contact {grid-row: 6/7;}

/* IMAGES */

#avatar-astronaut {
  width: 10vw;
  margin: -8vw 0 0 6vw;
}

/* STAR FIELD */

#far-field, #mid-field, #near-field {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

#mid-field {
  animation: linear 100s infinite fall;
}

#near-field {
  animation: linear 50s infinite fall;
}

@keyframes fall {
  from {transform: translateY(0);}
  to {transform: translateY(-100vh);}
}

/* LINE ART */

#ufo {
  grid-column: -2;
  grid-row: 6;
  animation: ease-in-out 1s infinite alternate glide;
  animation-play-state: paused;
}

#ufo:hover {
  animation-play-state: running;
}

@keyframes glide {
  from {transform: rotate(-10deg);}
  to {transform: rotate(10deg);}
}