@import 'css/resets.css';

@import 'css/colours.css';

@import 'css/fonts.css';

@import 'css/header.css';

@import 'css/main-structure.css';

@import 'css/sections.css';

@import 'css/sect-landing.css';

@import 'css/sect-about.css';

@import 'css/sect-projects.css';

@import 'css/footer.css';

@import 'css/components.css';

/* IMAGES */

#avatar-astronaut {
  width: 140px;
  margin: -120px 0 0 100px;
}

#rocket {
  width: 170px;
  grid-column: 2/4;
  grid-row: 2/4;
  justify-self: center;
  align-self: center;
}

/* STAR FIELD */

#far-field, #mid-field, #near-field {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

#mid-field {
  animation: linear 100s infinite fall;
}

#near-field {
  animation: linear 50s infinite fall;
}

@keyframes fall {
  from {transform: translateY(0);}
  to {transform: translateY(-100vh);}
}

@import 'css/line-art.css';

@import 'css/media-queries.css';